
/* My Universal Styles
Background Color - Black - #000000
Secondary Background Color - #202020
Text Color - Orange - #ff6101
Link Hover Color - Coral
*/

/* Pulling in the self hosted font */
@font-face {
    font-family: 'Russo One';
    src: url(RussoOne-Regular.ttf);
}

/* Setting the font size so that I can use the em */
html {
  font-size: 12px;
  color: #ff6101;
  font-family: 'Russo One';
  background-color: #000000;
}

/* Styles for the entire site, aka html */
html a {
  color: #ff6101;
  text-decoration: none;
}

html a:hover {
  text-decoration: none;
  color: coral;
}

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }

/* Home Page */
  
  /* Nav Bar */
  #navigation {
    display: flex;
    padding: 0rem 1rem 0rem 1rem;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    z-index: 50;
  }
  .max-width {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    position: fixed;
    width: 100%;
    z-index: 52;
  }
  .side-container {
    flex-grow: 1;
  }
  #navigation-logo img {
    height: 70px;
    padding: 10px;
  }
  #navigation-logo {
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #navigation-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
  #navigation-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .headerbutton {
    text-transform: capitalize;
    padding: .2rem;
    margin: .5rem;
    font-size: 1rem;
    }

  /* Hero Text aka H1 */
  #header {
    padding: 8rem 1rem 0rem 1rem;
    display: flex;
    flex-direction: column;  
  }
  #hero-txt {
    font-size: 2.8rem;
  }
  #hero-image {
    padding: 5rem 0rem 5rem 0rem;
    display: flex;
    justify-content: center;
  }
  #hero-image img {
    height: 20rem;
    border-radius: 50%;
    filter: grayscale(100%);
    z-index: 1;
  }
  .window-width {
    display: flex;
    justify-content: center;
  }

  /* Read More about me section */
  #about-me {
    display: flex;
    flex-direction: column-reverse;
    padding: 5rem 1rem 5rem 1rem;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    gap: 2rem;
  }
  #about-me-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #about-me-button a {
    padding: .3rem 1rem .3rem 1rem;
    background-color: #000000;
    transition: transform 0.3s ease;
    border-radius: 3px;
  }
  #about-me-button a:hover {
    transform: scale(1.1);
    border: solid 1px coral;
  }
  #about-me-txt {
    flex: 1;
    justify-content: center;
  }
  .window-2-width {
    background-color: #333333;
  }

  /* See My work Section */
  #my-work {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 5rem 1rem;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    gap: 2rem;
  }
  #my-work-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #my-work-link a {
    padding: .3rem 1rem .3rem 1rem;
    background-color: #202020;
    transition: transform 0.3s ease;
    border-radius: 3px;
  }
  #my-work-link a:hover {
    transform: scale(1.1);
    border: solid 1px coral;
  }

  /* Footer */
  #footer {
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem 5rem 1rem;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    gap: 2rem;
  }
  .window-4-width {
    background-color: #202020;
    border-top: 2px solid #ff6101;
  }
  #my-work-link {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }

/* All Media Queries */

/* Tablet */
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
    #about-me {
      flex-direction: row;
    }
    #my-work {
      flex-direction: row;
    }
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    html {
      font-size: 20px;
    }
    #header {
        max-width: 1300px;
        flex-direction: row;
        padding: 8rem 1rem 5rem 1rem;
    }
    #hero-txt {
      padding-right: 4rem;
    }
    #hero-image {
      padding: 0;
    }
    #about-me {
      flex-direction: row;
    }
    #my-work {
      flex-direction: row;
    }
  }

