
/* My Universal Styles
Background Color - Black - #000000
Text Color - Orange - #FF4500
Link Hover Color - Coral
*/

/* Pulling in the self hosted font */
@font-face {
    font-family: 'Russo One';
    src: url(RussoOne-Regular.ttf);
}

/* Setting the font size so that I can use the em */
html {
  font-size: 12px;
  color: #FF4500;
  font-family: 'Russo One';
  background-color: #000000;
}

/* Styles for the entire site, aka html */
html a {
  color: #FF4500;
  text-decoration: none;
}

html a:hover {
  text-decoration: none;
  color: coral;
}

/* CSS Reset */
*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
  }

/* All Media Queries */

/* Tablet */
@media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  /* Desktop */
  @media (min-width: 1024px) {
    html {
      font-size: 20px;
    }
  }



/* Home Page */
  
  /* Nav Bar */
  #navigation {
    display: flex;
    padding: 0em 1em 0em 1em;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    z-index: 50;
  }
  .max-width {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 1));
    position: fixed;
    width: 100%;
    z-index: 52;
  }
  .side-container {
    flex-grow: 1;
  }
  #navigation-logo img {
    height: 70px;
    padding: 10px;
  }
  #navigation-logo {
    width: 8em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  #navigation-social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-grow: 1;
  }
  #navigation-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
  }
  .headerbutton {
    text-transform: capitalize;
    padding: .2em;
    margin: .5em;
    font-size: 1em;
    }

  /* Hero Text aka H1 */
  #header {
    padding: 8em 1em 6em 1em;
  }
  #header-txt {
    font-size: 2.8em;
  }
  #hero-image img {
    height: 20em;
    border-radius: 50%;
    filter: grayscale(100%);
    z-index: 1;
  }




  #footer {
    height: 4000px;
  }
